#st-native-crop-btn {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
}

.zoomed_avatar .panelControlBar .drag-grabber, .zoomed_avatar .panelControlBar .dragClose {
    opacity: 1 !important;
    filter: none !important;
}
