.zoomed_avatar .panelControlBar .drag-grabber,
.zoomed_avatar .panelControlBar .dragClose,
#st-native-crop-btn {
    filter: none !important;
    opacity: 1 !important;
}

body .panelControlBar {
    align-items: center;
}

.dragClose {
    height: 20px !important;
}

#st-native-crop-btn {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 5px;
    font-size: calc(var(--mainFontSize)*1.3);
}
